.button {
  transition: 0.25s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
}

.primary-main {
  //background-color: var(--primary-main) !important;
}

.primary-dark {
}

.primary-light {
}

.secondary {
}

.small {
}

.medium {
}

.large {
}

.disabled {
}
