body {
  font-family: var(--font-main), "Lato", sans-serif;
  line-height: 1.7;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.icon-small {
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.max-width {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.dialog__container {
  .dialog__title {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }
  .dialog__content-box {
  }
  .dialog__controls-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 2rem;
  }
}

.border-red {
  border: 1px solid red !important;
}

.border-blue {
  border: 1px dashed blue !important;
}
